* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

li:hover {
    cursor: pointer;
    text-decoration: underline; 
}

a {
    text-decoration: none;
}

/* Body */
.body {
    height: 100vh;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

/* Header */
.header {   

}

/* Footer */ 

.footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #eee;
    padding: 10px 0;
}

footer h3 {
    color: #444444;
    font-weight: 400;
    border-bottom: 2px solid #c7c7c7;
    padding: 0 30px 10px;
}

.footer .footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer .footer-link ul {
    display: flex;
    padding: 10px 0px;
}

.footer .footer-link ul li {
    font-size: 18px;
    margin: 0 10px;
    color: #444444;
}

